header {
  background-color: rgba(38, 43, 69, 1);
}

header .bottom a {
  color: #fff;
}

header .left a.logo {
  background: url(../img/logo.png) no-repeat center;
  background-size: contain;
}

/* header .bottom a {
  color: #444;
} */
body {
  background-color: rgba(38, 43, 69, 1);
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  border-bottom: 3px solid #EEEEEE;
}

.tabs li a {
  margin-right: 30px;
  padding: 19px 20px;
  color: #333333;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

.tabs li.active a {
  color: #fff;
  border-bottom: 1px solid #dd4012;
  background-color: #dd4012;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

#news {
  margin: 160px auto 50px;
}

#news .title {
  text-align: center;
  color: #fff;
}

#news>ul {
  width: 80%;
  margin: 30px auto;
}

.tab_content li {
  border-left: 3px solid #333333;
  border-left: 3px solid #fff;
  margin-bottom: 25px;
  padding: 20px 10px 10px 20px;
  box-sizing: border-box;
  box-shadow: 4px 5px 3px rgb(131, 133, 147);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

#news ul li .news {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 10px;
}

#news ul li .content {
  margin-bottom: 20px;
  color: #9AA3AE;
  font-size: 1.1rem;
}

#news ul li .date {
  margin: 10px 0 15px;
  color: #333;
  color: #fff;
}

#news ul li .date::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 25px;
  margin-right: 5px;
  background: url('../img/icon/calendar.png') no-repeat center;
  background-size: contain;
}

@media (max-width:550px) {
  .tabs li a {
    padding: 5px 5px 10px;
    font-size: .9rem;
  }

  #news {
    margin-top: 120px;
  }

  #news .title {
    font-size: 1.3rem;
  }

  #news>ul {
    width: 90%;
  }

  #news ul li .news {
    font-size: 1rem;
  }

  #news ul li .content, #news ul li .date {
    font-size: .9rem;
  }

  #news ul li .content {
    margin-bottom: 10px;
  }

  #news ul li .date {
    margin: 0 0 20px;
  }
}

@media (max-width:414px) {
  .tabs li a {
    padding: 7px 4px 10px;
  }
}